/* General Styling */
h2 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 40px;
}

h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 35px;
}

/* Home Page */
#hero {
  background: url(../img/hero.jpg) no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
  height:100vh;
  background-size: cover;
  background-attachment: fixed;
}

.tab div {
   background-color: rgba(54, 129, 204, 0.3);
   color: white;
   font-size: 35px;
   cursor: pointer;
}

.tab div:hover {
   background-color: rgba(54, 129, 204, 0.8);
}

#login {
  text-align: center;
  color: black;
}

#login form {
  width: 250px;
  margin: auto;
}

#info {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 100px;
  background-color: #bfbfbf;
  border-radius: 2px;
  color: white;
}

/* Review Page */

#multiplechoice {
   width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 400;
    text-align: justify;
}

#longanswer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 400;
    text-align: justify;
}

.icon {
    width: 8%;
    text-align: center;
    padding-top: 20px;

}

.review-question-column {
    width: 43%;
}

.review-question-column-m {
    width: 70%;
}
tr:nth-child(even){
    background-color: aliceblue
}

.review-answer-column {
    width: 49%;
}

.answer {
  text-align: center;
}

td, th{
  border: 1px solid #f5f5f5;
  padding: 10px;
}
th{
  text-align: center;
  font-size: 25px;
  font-weight: 400
}

/* Contest CSS */
.contest-row {
  margin-right: 0px;
}

.contest-box {
  border:1px solid black;
  padding:2%;
  padding-top: 16px;
}

.title {
  margin-top: 32px;
  text-align: center;
  background-color: aqua;
  padding: 32px;
}

.student-info {
  margin-bottom: 0px;
}

/* Navigation Squares */
.nav-square {
  border: none;
  text-decoration: none;
  display: inline-block;
  color: aqua;
  margin-top: 5%;
  margin-bottom:2%;
  background-color: aqua;
  height: 8px;
  width: 1px;
  cursor: pointer;
}

.frq {
  background-color: lightgreen; /* Same background and text color so that text doesn't show */
  color: lightgreen;
}

.current {
  border: 1px solid #561fd1;
  color: #561fd1;
  background-color: #561fd1;
}

.complete {
  border: 1px solid purple;
  color: purple;
  background-color: purple;
}
